doctype html
html
    head
        title SB2 Assets
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        script(src="/javascripts/app.js")
    body(ng-app="sb2-assets" ng-controller=controller)
        block content