nav(class="nav has-shadow")

    div(class="nav-left")
        a(class="nav-item is-brand" href='/') #{title}
    div(class="nav-center is-boxed")
        a(class="nav-item has-shadow is-tab" id="home-nav" href="/home") Home
        a(class="nav-item has-shadow is-tab" id="assets-nav" href="/assets") Assets
        a(class="nav-item has-shadow is-tab" id="new-asset-nav" href="/assets/new") New Asset

    div(class="nav-right")
        a(class="nav-item" href="/logout") Logout