div(class='navbar')
    ul(class='menu')
        li
            a(href="/home") Home
        li
            a(href="/assets") Assets
        li
            a(href="/assets/new") New Asset
        li
            a(href="/logout") Logout