body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar ul li {
    display: inline;
    vertical-align: middle;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

.navbar a:hover {
    background-color: #D1D1D1;
}